.for-overflow {
    max-height: 500px !important;
    overflow-y: auto !important;
}

.link-color {
    color: #737373 !important;
    padding: 4px 10px;
}

.link-color:hover {
    color: #0c332f !important;
    // border-left: 3px solid #0c332f;
    padding: 4px 10px;
}

.for-child-heading {
    color: #737373 !important;
}

::-webkit-scrollbar {
    width: 12px !important;
}

::-webkit-scrollbar-track {
   // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   // border-radius: 8px;
   background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
   background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  //  background: rgba(190, 250, 242, 0.5);
  background: #3a625d;
}

.pad-left-5px {
    padding-left: 30px !important;
}

a {
    text-decoration: none !important;
}

// .fixedSideNav {
//   border-right: 1px solid #ddd !important;
// }
.border-left {
    border-left: 1px solid #ddd !important;
}

.border-right {
    border-right: 1px solid #ddd !important;
}

.wid-90 {
    padding: 10px !important;
    border: 1px solid #ddd !important;
    font-family: 'Red Hat Display', sans-serif !important;
}

.active {
    color: #0c332f !important;
    font-family: 'Red Hat Display', sans-serif !important;
    border-left: 3px solid #0c332f !important;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}