@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700,900&display=swap");
:root {
    --uq-purple: #51247A;
    --light-purple: #962A8B;
    --red: #E62645;
    --orange: #EB602B;
    --yellow: #FBB800;
    --blue: #4085C6;
    --aqua: #00a2c7;
    --green: #2EA836;
    --gold: #BB9D65;
    --neutral: #D7D1CC;
    --dark-grey: #999490;
}

.m-0 {
    margin: 0rem;
}

.mat-tab-label {
    color: white;
    min-width: 25px !important;
    padding: 15px !important;
    background-color: transparent;
    color: var(--uq-purple);
    font-weight: 700;
}

.mat-tab-label {
    min-width: 25px !important;
    padding: 15px !important;
    background-color: transparent;
    color: var(--uq-purple);
    font-weight: 700;
}

.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active {
    background-color: transparent;
    color: var(--uq-purple);
    font-weight: 700;
}

.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple {
    background-color: transparent;
    color: var(--uq-purple);
    font-weight: 700;
}

.mat-tab-label:active {
    min-width: 25px !important;
    padding: 15px !important;
    background-color: transparent;
    color: var(--uq-purple);
    font-weight: 700;
}

.mat-tab-label:selected {
    min-width: 25px !important;
    padding: 15px !important;
    background-color: transparent;
    color: var(--uq-purple);
    font-weight: 700;
}

.my-0 {
    margin: 0rem 0;
}

.p-0 {
    padding: 0rem;
}

.py-0 {
    padding: 0rem 0;
}

.m-1 {
    margin: 1rem;
}

.my-1 {
    margin: 1rem 0;
}

.p-1 {
    padding: 1rem;
}

.py-1 {
    padding: 1rem 0;
}

.m-2 {
    margin: 2rem;
}

.my-2 {
    margin: 2rem 0;
}

.p-2 {
    padding: 2rem;
}

.py-2 {
    padding: 2rem 0;
}

.m-3 {
    margin: 3rem;
}

.my-3 {
    margin: 3rem 0;
}

.p-3 {
    padding: 3rem;
}

.py-3 {
    padding: 3rem 0;
}

.m-4 {
    margin: 4rem;
}

.my-4 {
    margin: 4rem 0;
}

.p-4 {
    padding: 4rem;
}

.py-4 {
    padding: 4rem 0;
}

.m-5 {
    margin: 5rem;
}

.my-5 {
    margin: 5rem 0;
}

.p-5 {
    padding: 5rem;
}

.py-5 {
    padding: 5rem 0;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem var(--neutral);
    border-color: var(--dark-grey);
}

.btn {
    display: inline-block;
    color: #333 !important;
    padding: 0.4rem 1.3rem !important;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 0.875rem !important;
    outline: none;
    transition: all 0.2s ease-in;
}

.pull-right {
    border: 1px solid !important;
}

.btn-space {
    margin-right: 0.5rem;
}

.btn.btn-primary {
    background-color: var(--uq-purple) !important;
    color: #fff !important;
}

.btn.btn-primary:hover {
    background: var(--uq-purple) !important;
}

.btn.btn-blue {
    background-color: var(--blue);
    color: #fff !important;
}

.btn.btn-blue:hover {
    background: #1c63ff;
}

.btn.btn-dark {
    background-color: #343a40;
    color: #fff !important;
}

.btn.btn-dark:hover {
    background: #3f474e;
}

.btn.btn-grey {
    background-color: #e5e5e5;
    color: #333;
}

.btn.btn-grey:hover {
    background: #3f474e;
}

.btn.btn-success {
    background-color: var(--green);
    color: #fff;
}

.btn.btn-success:hover {
    background: #2dbc4e;
}

.btn.btn-danger {
    background-color: var(--red);
    color: #fff;
}

.btn.btn-danger:hover {
    background: #e04b59;
}

.btn.btn-warning {
    background-color: var(--orange);
    color: #333;
    color: #ffffff;
}

.btn.btn-warning:hover {
    background: #f29761;
}

.btn:hover {
    background: #626d78 !important;
    color: #fff !important;
}

.btn.btn-outline-primary {
    border: 1px solid var(--uq-purple) !important;
}

.btn:hover {
    background: var(--uq-purple) !important;
}

.line {
    height: 1px;
    background: #ccc;
    margin: 1.5rem 0;
}

.bg-primary {
    background-color: var(--uq-purple) !important;
    color: #fff !important;
}

.bg-light {
    background-color: #f4f4f4;
    color: #333;
    border: #ccc 1px solid;
}

.bg-dark {
    background-color: #343a40;
    color: #fff;
}

.bg-success {
    background-color: var(--green);
    color: #fff;
}

.bg-danger {
    background-color: var(--red);
    color: #fff;
}

.bg-white {
    background-color: #fff;
    color: #333;
    border: #ccc 1px solid;
}

.badge {
    padding: 0.4em 0.8em !important;
    border-radius: 5rem !important;
    text-transform: uppercase;
}

.badge-primary {
    background-color: var(--green) !important;
}

.badge-dark {
    background: #b2bac1;
}

.badge-warning {
    background-color: var(--orange) !important;
    color: #ffffff !important;
}

.table-wrap {
    background: #f4f4f4 !important;
    padding: 10px !important;
}

.table-wrap label {
    margin-bottom: 0rem !important;
}

.action-links {
    display: grid;
    grid-template-columns: 30px 30px;
    grid-gap: 1rem;
}

.action-links a {
    background: #ffffff;
    border-radius: 100%;
    border: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    height: 30px;
    text-decoration: none;
    color: var(--uq-purple);
    transition: all 0.2s ease-in;
}

.action-links a i {
    font-size: 10px;
}

.table {
    background: #ffffff;
}

.table th {
    background: #ffffff;
}

.table td {
    text-align: left;
    padding: 5px 10px;
}

.table-hover tbody tr:hover {
    background: var(--neutral);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--uq-purple);
    border-color: var(--uq-purple);
}

.custom-control-label::before {
    background-color: #ffffff;
    border: 1px solid #ced3d8;
}

.styled-select {
    box-sizing: border-box;
    position: relative;
    /* hide default down arrow in IE10*/
}

.styled-select select:focus {
    outline: none;
}

.styled-select select {
    background: transparent;
    border: none;
    /*hide default down arrow in webkit */
    -webkit-appearance: none;
    padding-right: 25px;
    padding-left: 5px;
}

.styled-select select::-ms-expand {
    display: none;
}

.styled-select i.fa-chevron-down {
    position: absolute;
    top: 11px;
    font-size: 13px;
    right: 0px;
}


/* hack to fall back in opera */

_:-o-prefocus .styled-select,
.selector .styled-select {
    background: none;
}

.search-input .form-input {
    padding: 0.3125rem;
    line-height: 5px;
    border: 0px;
    margin-left: 5px;
}

.custom-modal .modal-header {
    border: 0;
    padding: 1rem 2.5rem 1rem 2.5rem;
}

.custom-modal .modal-body {
    padding: 1rem 2rem 2rem 2rem;
}

.custom-modal .modal-body-select-system {
    padding: 1rem 2rem 2rem 2rem;
    max-height: 610px;
    overflow: auto;
}

.custom-modal .modal-title {
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.custom-modal .modal-title:first-child {
    padding-right: 1rem;
}

.custom-modal .modal-title:before {
    content: '';
    position: absolute;
    background: var(--uq-purple);
    height: 3px;
    bottom: -3px;
    width: 30px;
}

.custom-modal .heading-wrap {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.custom-modal .heading-wrap .search-wrapper {
    position: relative;
    background: var(--uq-purple);
    border-radius: 20px;
    transform-origin: 100% 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: 250ms ease;
}

.custom-modal .heading-wrap .search-wrapper.focused {
    background: var(--neutral);
    width: 200px;
}

.custom-modal .heading-wrap .search-wrapper.focused input {
    padding: 0 40px 0 13px;
    width: 100%;
    transform: scale(1);
}

.custom-modal .heading-wrap .search-wrapper input {
    background: transparent;
    border: 0;
    color: black;
    outline: none;
    height: 40px;
    width: 0;
    overflow: hidden;
    font-weight: 100;
    transform: scale(0);
    transform-origin: 0 50%;
    transition: 275ms ease;
}

.custom-modal .heading-wrap .search-wrapper input::placeholder {
    color: #3f474e;
}

.custom-modal .heading-wrap .search-wrapper i {
    position: absolute;
    color: white;
    font-size: 18px;
    top: 50%;
    right: 9px;
    transform: translateY(-50%);
}

.custom-modal .subtitle {
    text-transform: uppercase;
    font-weight: 600;
}

.custom-modal .subtitle i {
    color: var(--orange);
    font-size: 1.2rem;
}

.custom-modal .rooms {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 1rem;
}

.custom-modal .rooms .room-type {
    border-radius: 0.5rem;
    border: 1px solid #e5e5e5;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1rem;
    align-items: center;
    position: relative;
    background: #ffffff;
    cursor: pointer;
    height: 120px;
}

.custom-modal .rooms .room-type.room-active {
    border: 2px solid var(--uq-purple);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.custom-modal .rooms .room-type.room-active:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f00c';
    position: absolute;
    position: absolute;
    right: -6px;
    top: -11px;
    vertical-align: middle;
    font-weight: 900;
    cursor: pointer;
    font-size: 0.9rem;
    background: var(--uq-purple);
    border-radius: 100%;
    width: 1.6rem;
    height: 1.6rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    z-index: 99999;
    align-items: center;
}

.custom-modal .rooms .room-type .room-icon {
    border-radius: 100%;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
}

.custom-modal .rooms .room-type .room-icon img {
    width: 2rem;
}

.custom-modal .rooms .room-type .collab--studio {
    background: #54948b;
}

.custom-modal .rooms .room-type .tutorial--room {
    background: #5faa8e;
}

.custom-modal .rooms .room-type .admin--room {
    background: #2960a8;
}

.custom-modal .rooms .room-type .meeting--room {
    background: #26a098;
}

.custom-modal .rooms .room-type .videoconf--room {
    background: #1385ad;
}

.custom-modal .rooms .room-type .random--room {
    background: #1693a4;
}

.custom-modal .rooms .room-type .text {
    text-align: center;
}

.custom-modal .rooms .room-type .text h3 {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.custom-modal .rooms .room-type .text p {
    margin-bottom: 0;
    font-size: 0.8rem;
}

.custom-modal .classrooms {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    align-items: center;
    grid-gap: 1rem;
}

.custom-modal .classrooms a.classroom {
    border: 1px solid #e5e5e5;
    border-radius: 0.4rem;
    padding: 0.7rem;
    background: #ffffff;
    color: var(--dark-color);
    font-weight: 500;
    text-align: center;
}

a.classroom:hover {
    background: var(--uq-purple) !important;
    color: white !important;
    cursor: pointer;
}

.modeal-head-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 0.5rem;
}

.modeal-head-wrap h4 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}

.modeal-head-wrap span {
    font-size: 0.8rem;
    color: var(--uq-purple);
}

.modeal-head-wrap .options {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: auto auto auto;
    align-items: center;
    cursor: pointer;
    padding: 0.3rem 0.4rem;
    border: 1px solid var(--uq-purple);
    color: var(--uq-purple);
    position: relative;
}

.modeal-head-wrap .options .fa-sort-down {
    transform: translateY(-3px);
}

.modeal-head-wrap .options .drop-down {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
}

.modeal-head-wrap .options .drop-down .arrow_box {
    position: relative;
    background: #ffffff;
    border: 1px solid var(--uq-purple);
    width: 178px;
}

.modeal-head-wrap .options .drop-down .arrow_box ul {
    padding: 0;
    margin: 0;
}

.modeal-head-wrap .options .drop-down .arrow_box ul li a {
    display: block;
    padding: 5px 10px;
    font-size: 12px;
    text-align: right;
    font-weight: 500;
    color: var(--uq-purple);
}

.modeal-head-wrap .options .drop-down .arrow_box ul li:not(:last-child) {
    border-bottom: 1px solid var(--uq-purple);
}

.modeal-head-wrap .options .drop-down .arrow_box ul li i {
    padding-left: 8px;
}

.modeal-head-wrap .options .drop-down .arrow_box ul li :hover {
    color: #ffffff;
    background: var(--uq-purple);
}

.modeal-head-wrap .options .drop-down .arrow_box> :after,
.modeal-head-wrap .options .drop-down .arrow_box> :before {
    bottom: 100%;
    right: 3%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.modeal-head-wrap .options .drop-down .arrow_box :after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-right: 10px;
}

.modeal-head-wrap .options .drop-down .arrow_box :before {
    border-color: rgba(16, 19, 20, 0);
    border-bottom-color: var(--uq-purple);
    border-width: 10px;
    margin-right: 8px;
}

.nested-item .edit-rooms {
    display: grid;
    grid-template-columns: 250px 220px 1fr;
}

.nested-item .nested-menu {
    border: 1px solid #b2bac1;
    transform: translateX(-1px);
}

.nested-item .room-content {
    transform: translateX(-2px);
}

.edit-rooms {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.menu-item {
    border: 1px solid #b2bac1;
    padding: 1rem;
}

.room-content {
    border: 1px solid #b2bac1;
    transform: translateX(-1px);
}

.modal-buttons {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
}

.modal-buttons :nth-child(2) {
    flex: 1;
    flex-basis: 30%;
}

.faq h1 {
    color: #243972;
    margin-bottom: 0.6em;
}

.faq #accordion .card {
    border: 0;
    border-radius: 0;
}

.faq #accordion .card .card-header {
    padding: 0;
    border-bottom: 1px solid #f4f4f4;
}

.faq #accordion .card .card-header button {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    background-color: #ffffff;
    color: #202124;
    text-align: left;
    border-radius: 0;
    border: none;
    border-bottom: none;
    transform: none;
    position: relative;
}

.faq #accordion .card .card-header button span {
    padding-left: 10px;
    font-weight: 600;
}

.faq #accordion .card .card-header button:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f054';
    font-style: initial;
    color: var(--uq-purple);
    float: left;
    transform: rotate(0);
    transition: all ease-in-out 255ms;
}

.faq #accordion .card .card-header button.collapsed:after {
    transform: rotate(90deg);
}

.faq #accordion .card .card-header button:hover {
    transform: scaleY(1);
}

.faq #accordion .card .card-header button:focus {
    outline: none;
    box-shadow: none;
}

.faq #accordion .card .card-body {
    background-color: #fff;
}

.faq #accordion .card:first-of-type {
    border: 0;
}

.faq #accordion .card:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.faq #accordion .card:first-of-type>.card-header>h5>button {
    border: 0;
}

.faq #accordion .card:last-of-type>.card-header>h5>button {
    border: 0;
}

.ids ul li a {
    border-bottom: 1px solid #ced3d8;
    padding: 6px 16px;
    display: block;
    color: #61a199;
}

.ids ul li a:hover {
    background: #ebedee;
    cursor: pointer;
}

.add-display {
    padding: 0px 16px;
}

.display-close {
    border-bottom: 1px solid #ebedee;
    padding-bottom: 5px;
    padding-top: 8px;
}

.display-close a {
    padding-left: 10px;
    padding-top: 10px;
    color: #343a40;
}

.small-modal .modal-body {
    position: relative;
}

.small-modal .modal-body .close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.delete-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 1rem;
}

.delete-info i {
    font-size: 3.5rem;
    color: #f08749;
    padding-bottom: 1rem;
}

.delete-info h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.delete-info p {
    font-size: 14px;
}

.delete-info p span {
    color: var(--orange);
    font-weight: 600;
}

.upload-files {
    text-align: center;
    padding-top: 1rem;
}

.upload-files h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

.upload-files .upload-file {
    margin-top: 1rem;
}

.fileuploader {
    position: relative;
    margin: auto;
    height: 200px;
    border: 4px dashed #ddd;
    background: #f6f6f6;
}

.fileuploader #upload-label {
    background: rgba(231, 97, 92, 0);
    color: #fff;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    min-width: 80%;
    text-align: center;
    cursor: pointer;
}

.fileuploader.active {
    background: #fff;
}

.fileuploader.active #upload-label {
    background: #fff;
    color: var(--orange);
}

#upload-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#upload-label h3 {
    color: #b2bac1;
}

#upload-label span {
    color: #b2bac1;
}

#upload-label a {
    margin-top: 20px;
    display: inline-block;
}


/** Preview of collections of uploaded documents **/

.preview-container {
    margin: 20px auto;
    visibility: hidden;
}

.preview-container #previews {
    max-height: 400px;
    overflow: auto;
}

.preview-container #previews .zdrop-info {
    width: 88%;
    margin-right: 2%;
}

.preview-container #previews.collection {
    margin: 0;
    box-shadow: none;
}

.preview-container #previews.collection .collection-item {
    background-color: #FFF;
}

.preview-container #previews.collection .actions a {
    width: 1.5em;
    height: 1.5em;
    line-height: 1;
}

.preview-container #previews.collection .actions a i {
    font-size: 1em;
    line-height: 1.6;
}

.preview-container #previews.collection .dz-error-message {
    font-size: 0.8em;
    margin-top: -12px;
    color: var(--red);
}

::-webkit-scrollbar {
    width: 12px !important;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--uq-purple);
}


/*media queries*/

@media only screen and (max-width: 601px) {
    .fileuploader {
        width: 100%;
    }
    .preview-container {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .small-modal .modal-sm {
        max-width: 400px;
    }
    .uploadfileModal .modal-sm {
        max-width: 500px;
    }
}

@media (max-width: 991px) {
    .nested-item .edit-rooms {
        grid-template-columns: 1fr;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    line-height: 1.6 !important;
    background-color: #fff !important;
    color: #333 !important;
}

a {
    text-decoration: none !important;
    color: var(--uq-purple);
    transition: all 0.2s ease-in;
}

a:hover {
    text-decoration: none;
    color: var(--uq-purple);
}

ul {
    list-style: none;
    line-height: 2;
}

img {
    width: 100%;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.brand-wrap {
    display: flex;
    align-items: center;
}

.brand-wrap-logo img {
    width: 150px;
}

.brand-wrap-title h1 {
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 0px;
    color: var(--uq-purple);
}

.right-nav-wrap {
    display: flex;
    align-items: center;
}

.right-nav-wrap--top-nav {
    margin-right: 20px;
}

.right-nav-wrap--top-nav ul {
    list-style: none;
    margin: 0;
}

.right-nav-wrap--top-nav ul li {
    display: inline-block;
}

.right-nav-wrap--top-nav ul li a {
    padding: 0px 15px;
    color: var(--dark-grey);
}

.right-nav-wrap--top-nav ul li a:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--uq-purple);
}

.right-nav-wrap--top-nav ul li a.link-active {
    border-bottom: 2px solid var(--uq-purple);
    padding-bottom: 10px;
    color: #343a40;
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 0.25rem 0.9rem;
}

.main-title {
    font-size: 1.25rem !important;
    font-weight: 500 !important;
    margin: 0;
}

.container-fluid {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.main-head-wrap {
    display: inline-grid;
    grid-template-columns: 1.4fr 1.4fr 1fr 7fr;
    align-items: center;
    margin: 0;
    list-style: none;
    grid-gap: 1rem;
    margin-left: 1em;
    margin-right: 1em;
}

.room-search {
    border: 1px solid var(--uq-purple);
    border-radius: 4px;
    height: 33px;
    line-height: 33px;
    position: relative;
    display: flex;
    min-width: 200px;
}

.room-search .search-btn .btn {
    background: transparent;
    border: none;
    padding: 0;
}

.room-search .search-btn .btn:hover {
    color: #b2bac1;
}

.room-search .search-btn .btn:focus {
    box-shadow: none;
}

.table-top-info {
    display: inline-grid;
    grid-template-areas: 'selected deselect delete';
    grid-gap: 3rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-weight: 500;
}

.table-top-info a:nth-child(2) {
    color: var(--uq-purple);
}

.table-top-info a:nth-child(3) {
    color: var(--red);
}

@media (max-width: 700px) {
    .main-head-wrap {
        grid-template-areas: 'main-title' 'main-btn' 'main-search';
    }
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-wrap {
        flex-direction: column;
    }
    .brand-wrap {
        border-bottom: 1px solid #dde0e3;
        padding-bottom: 10px;
        margin-bottom: 15px;
        justify-content: space-between;
    }
    .brand-wrap .brand-wrap-title h1 {
        margin-left: 10px;
    }
    .right-nav-wrap {
        justify-content: space-between;
    }
}

@media (max-width: 500px) {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.width-100 {
    width: 100% !important;
}

.open {
    display: block !important;
}

.modeal-head-wrap span {
    font-size: 14px !important;
    color: #333 !important;
}


/*# sourceMappingURL=main.css.map */

.loader {
    display: block;
    position: fixed;
    z-index: 100;
    background-image: url('../images/uq-loader.svg');
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

.prop-hide {
    display: none !important;
}

.mat-checkbox .mat-checkbox-frame {
    border-color: black;
    background-color: var(--neutral);
    border-style: none;
    border-radius: 5px;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    margin-top: 1px;
    margin-left: 1px;
    width: 18px;
    height: 18px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: var(--uq-purple) !important;
    border-radius: 5px;
}

.mat-row:nth-child(even) {
    background-color: rgba(215, 209, 204, .2);
}

.mat-row:nth-child(odd) {
    background-color: #fff;
}

mat-footer-row,
mat-row {
    min-height: 40px !important;
    border-bottom-width: 0px !important;
}

mat-header-row {
    font-weight: bold !important;
    min-height: 45px !important;
    border-bottom-width: 1px !important;
}

.hide-clss {
    display: none;
}

.with-side-nav {
    min-width: 57% !important;
}

.without-side-nav {
    min-width: 75% !important;
}

.mat-paginator-page-size {
    display: none !important;
}

.mat-icon-button {
    border-radius: 5px !important;
    margin-right: 5px !important;
    height: 25px !important;
    line-height: 20px !important;
    width: 35px !important;
}

.mat-icon-button:hover {
    background-color: var(--neutral);
}

.mat-paginator-icon {
    width: 20px !important;
    fill: var(--dark-grey) !important;
}

.mat-paginator-icon:hover {
    fill: #fff !important;
}

label {
    display: inline-block !important;
    margin-bottom: .5rem !important;
    font-weight: bold !important;
}

#show-msg {
    font-family: 'Montserrat', sans-serif;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--green);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 14px;
    position: fixed;
    z-index: 99999;
    left: 50%;
    top: 30px;
    font-size: 12px;
}

#show-msg.show {
    visibility: visible !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.errmsg {
    font-weight: inherit !important;
    color: inherit !important;
}

.mat-row:hover {
    background-color: rgba(0, 162, 199, 0.1)
}


/* Room table column width */

.mat-column-select {
    flex: 0 0 10%;
}

.mat-column-room_name {
    flex: 0 0 15%;
}

.mat-column-room_status {
    flex: 0 0 10%;
}

.mat-column-room_author {
    flex: 0 0 15%;
}

.mat-column-room_version {
    flex: 0 0 10%;
}

.mat-column-system_name {
    flex: 0 0 20%;
}

.mat-column-last_deployed {
    flex: 0 0 10%;
}

.mat-column-actions {
    flex: 0 0 10%;
}


/* System table column width */

.mat-column-select_system {
    flex: 0 0 10%;
}

.mat-column-room_count {
    flex: 0 0 15%;
}

.mat-column-system_author {
    flex: 0 0 20%;
}

.mat-column-system_version {
    flex: 0 0 15%;
}

a.disabled {
    color: #e9ecef;
    cursor: not-allowed;
}