<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1.0, viewport-fit=cover"
         />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
         />
      <link
         rel="stylesheet"
         href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"
         />
      <title>Configuration Editor</title>
   </head>
   <body>
      <app-loader *ngIf="isLoading"></app-loader>
      <div class="container-fluid">
         <header>
            <div class="header-wrap">
               <div class="brand-wrap">
                  <div class="brand-wrap-logo">
                     <img src="assets/images/Innomesh-01.jpg" alt="Innomate" />
                  </div>
                  <div class="vl" style="border-left: 2px solid grey; height: 25px; margin-left:15px; margin-right:15px;"></div>
                  <div class="brand-wrap-logo">
                     <img src="assets/images/uq-logo.png" alt="Innomate" />
                  </div>
               </div>
               <div class="right-nav-wrap">
                  <div class="right-nav-wrap--top-nav">
                     <ul>
                        <li><a [ngClass]="{'link-active': isRoomSelected}" style="cursor: pointer;" (click)="onRoomSelected()">Room</a></li>
                        <li><a [ngClass]="{'link-active': isSystemSelected}" style="cursor: pointer;" (click)="onSystemSelected()">System</a></li>
                     </ul>
                  </div>
                  <div>
                     <button class="btn btn-outline-primary btn-sm" type="submit">
                     Administration
                     </button>
                  </div>
               </div>
            </div>
         </header>
         <div class="mt-4 main-head-wrap" *ngIf="isRoomSelected">
            <div>
               <h1 class="main-title">Manage Rooms</h1>
            </div>
            <div>
               <button
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#selectRoom" (click)="addNewRoom()"
                  >Add New Room <i class="fas fa-plus"></i>
               </button>
            </div>
            <div class="room-search">
               <div class="search-input">                         
                  <input matInput [(ngModel)]="searchKey" class="form-input" placeholder="Search" autocomplete="off" (keyup)="applyRoomFilter()">
               </div>
               <div class="search-btn"  *ngIf="!searchKey">
                  <button class="btn"><i class="fas fa-search"></i></button>
               </div>
               <div class="search-btn"  *ngIf="searchKey">
                  <button class="btn"  (click)="onSearchRoomClear()"><i class="fa fa-times"></i> </button>   
               </div>
            </div>
            <div style="text-align: right;"> <span style="color:black;font-size:14px;"> User : {{userName}} </span>&nbsp;&nbsp;
            <span style="color:black;font-size:14px;cursor:pointer; font-weight: bold;"  (click)="logout()" >Log Out</span></div>
         </div>
         <div class="table-wrap mt-5" *ngIf="isRoomSelected">
            <div class="table-top-info" *ngIf="!isMobile()">
               <button class="btn btn-outline-primary btn-sm" type="submit" data-toggle="modal" data-value="selectionR.selected" data-target="#deleteRoomAll">
               Delete
               </button>
            </div>
            <div class="table-reponsive">
               <mat-table [dataSource]="listRoomData"  class="table table-striped table-hover" matSort>
                  <ng-container matColumnDef="select">
                     <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox  (change)="$event ? masterRoomToggle() : null"
                        [checked]="selectionR.hasValue() && isAllRoomSelected()"
                        [indeterminate]="selectionR.hasValue() && !isAllRoomSelected()">
                        </mat-checkbox>
                     </mat-header-cell>
                     <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selectionR.toggle(row) : null"
                        [checked]="selectionR.isSelected(row)">
                        </mat-checkbox>
                     </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="room_name">
                     <mat-header-cell *matHeaderCellDef  class="custom-control-label" bold mat-sort-header>Room Name</mat-header-cell>
                     <mat-cell *matCellDef="let element">{{element.room_name}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="room_status">
                     <mat-header-cell *matHeaderCellDef  class="custom-control-label" bold mat-sort-header>Status</mat-header-cell>
                     <mat-cell *matCellDef="let element"><span class="badge" [ngClass]="{'badge-warning':element.room_status!='Running','badge-primary': element.room_status=='Running' }">{{element.room_status}}</span></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="room_author">
                     <mat-header-cell *matHeaderCellDef class="custom-control-label"  bold mat-sort-header>Author</mat-header-cell>
                     <mat-cell *matCellDef="let element">{{element.room_author}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="room_version">
                     <mat-header-cell *matHeaderCellDef  class="custom-control-label" bold mat-sort-header>Version</mat-header-cell>
                     <mat-cell *matCellDef="let element">{{element.room_version}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="system_name">
                     <mat-header-cell *matHeaderCellDef  class="custom-control-label" bold mat-sort-header>System Name</mat-header-cell>
                     <mat-cell *matCellDef="let element">{{element.system_name}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="last_deployed">
                     <mat-header-cell *matHeaderCellDef  class="custom-control-label" bold mat-sort-header>Last Deployed Date</mat-header-cell>
                     <mat-cell *matCellDef="let element">{{element.last_deployed}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                     <mat-header-cell *matHeaderCellDef></mat-header-cell>
                     <mat-cell *matCellDef="let row">
                        <div [ngClass]="isMobile()?'action-links':'action-links hide-clss'"  >
                           <a style="cursor: pointer;" data-toggle="modal" data-target="#editRoom"  (click)="onClickEditRoom(row.repository)"
                              ><i class="fas fa-pencil-alt"></i
                              ></a>
                           <a style="cursor: pointer;" data-toggle="modal" data-value="row" (click)="onSelectRoom(row.room_name,row.repository)" data-target="#deleteRoom"><i class="fas fa-trash"></i></a>
                        </div>
                     </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="loading">
                     <mat-footer-cell *matFooterCellDef colspan="6">
                        Loading data...
                     </mat-footer-cell>
                  </ng-container>
                  <ng-container matColumnDef="noData">
                     <mat-footer-cell *matFooterCellDef colspan="6">
                        No data.
                     </mat-footer-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
               </mat-table>
               <div>
                  <mat-paginator   (click)="onPaginateChange($event)" #roomPager [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
               </div>
            </div>
         </div>
         <div class="mt-4 main-head-wrap" *ngIf="isSystemSelected">
            <div>
               <h1 class="main-title">Manage Systems</h1>
            </div>
            <div>
               <button
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#editSystem" (click)="onClickNewSystem()">Add New System <i class="fas fa-plus"></i>
               </button>
            </div>
            <div class="room-search">
               <div class="search-input">                         
                  <input matInput [(ngModel)]="searchKey" class="form-input" placeholder="Search" autocomplete="off" (keyup)="applySystemFilter()">
               </div>
               <div class="search-btn"  *ngIf="!searchKey">
                  <button class="btn"><i class="fas fa-search"></i></button>
               </div>
               <div class="search-btn"  *ngIf="searchKey">
                  <button class="btn"  (click)="onSearchSystemClear()"><i class="fa fa-times"></i> </button>   
               </div>
            </div>
            <div style="text-align:right;"> <span style="color:black;font-size:14px;"> User : {{userName}} </span>&nbsp;&nbsp;
            <span style="color:black;font-size:14px;cursor:pointer; font-weight: bold;"  (click)="logout()" >Log Out</span></div>
         </div>
         <div class="table-wrap mt-5" *ngIf="isSystemSelected">
            <div class="table-top-info" *ngIf="!isMobile()">
               <button class="btn btn-outline-primary btn-sm" type="submit" data-toggle="modal" data-value="selection.selected" data-target="#deleteSystemAll">
               Delete
               </button>
            </div>
            <div class="table-reponsive">
               <mat-table [dataSource]="listSystemData"  class="table table-striped table-hover" matSort>
                  <ng-container matColumnDef="selectSystem">
                     <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterSystemToggle() : null"
                        [checked]="selection.hasValue() && isAllSystemSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSystemSelected()">
                        </mat-checkbox>
                     </mat-header-cell>
                     <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                     </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="system_name">
                     <mat-header-cell *matHeaderCellDef  class="custom-control-label" bold mat-sort-header>System Name</mat-header-cell>
                     <mat-cell *matCellDef="let element"><a style="cursor: pointer;" (click)="filterRoomBySyatem(element.system_name)">{{element.system_name}}</a></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="rooms_count">
                     <mat-header-cell *matHeaderCellDef  class="custom-control-label" bold mat-sort-header># Rooms Deployed</mat-header-cell>
                     <mat-cell *matCellDef="let element"> {{element.rooms_count}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="system_author">
                     <mat-header-cell *matHeaderCellDef class="custom-control-label"  bold mat-sort-header>Author</mat-header-cell>
                     <mat-cell *matCellDef="let element">{{element.system_author}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="system_version">
                     <mat-header-cell *matHeaderCellDef  class="custom-control-label" bold mat-sort-header>Version</mat-header-cell>
                     <mat-cell *matCellDef="let element">{{element.system_version}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="last_deployed">
                     <mat-header-cell *matHeaderCellDef  class="custom-control-label" bold mat-sort-header>Last Deployed Date</mat-header-cell>
                     <mat-cell *matCellDef="let element">{{element.last_deployed}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                     <mat-header-cell *matHeaderCellDef></mat-header-cell>
                     <mat-cell *matCellDef="let row">
                        <div [ngClass]="isMobile()?'action-links':'action-links hide-clss'"  >
                           <a style="cursor: pointer;" data-toggle="modal" data-target="#editSystem" (click)="onClickEditSystem(row.repository)"
                              ><i class="fas fa-pencil-alt"></i
                              ></a>
                           <a style="cursor: pointer;" data-toggle="modal" data-value="selection.selected" (click)="onSelectSystem(row.repository,row.rooms_count)" data-target="#deleteSystem"><i class="fas fa-trash"></i></a>
                        </div>
                     </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="loading">
                     <mat-footer-cell *matFooterCellDef colspan="6">
                        Loading data...
                     </mat-footer-cell>
                  </ng-container>
                  <ng-container matColumnDef="noData">
                     <mat-footer-cell *matFooterCellDef colspan="6">
                        No data.
                     </mat-footer-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
               </mat-table>
               <div>
                  <mat-paginator  (click)="onPaginateChange($event)" #systemPager [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="selectRoom">
         <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content custom-modal">
               <!-- Modal Header -->
               <div class="modal-header">
                  <div class="heading-wrap">
                     <h4 class="modal-title">Select System Type</h4>
                     <div class="search-wrapper">
                        <input
                        class="search-input"
                        type="text"
                        placeholder="Search"
                        [(ngModel)]="searchSystem"
                        /><i class="fas fa-search"></i>                         
                     </div>
                  </div>
                  <button type="button" class="close" data-dismiss="modal" (click)="closeAddNewRoom()" style="display:block !important;">
                  <i class="far fa-times-circle"></i>
                  </button>
               </div>
               <!-- Modal body -->
               <div for-overflow class="modal-body-select-system">
               <div *ngIf='systemRepos | listFilter:searchSystem as filteredItems'>
                  <div class="subtitle">
                     <i class="far fa-star"></i> Favourites - {{filteredItems?.length}}
                  </div>
                  <div class="rooms">
                     <div *ngFor="let system of filteredItems | listFilter : searchSystem;let i = index">
                        <div class="room-type" [ngClass]="clazz[i]" (mouseover)="clazz[i]='room-active'"  (mouseout)="clazz[i]=''">
                           <div class="room-icon collab--studio">
                              <img src="assets/images/Collaboration-Studio.svg" alt="" />
                           </div>
                           <div class="text" data-toggle="modal" data-target="#editRoom"  (click)="onClickNewRoom(system.repository)">
                              <h3>{{system.system_name}}</h3>
                              <p>
                                 This room includes two displays, a HDMI input and a PC with
                                 VC enabled
                              </p>
                           </div>
                        </div>
                     </div>               
                  </div>
                  </div>
                  <div class="others" *ngIf='systemOtherRepos | listFilter:searchSystem as filteredOtherItems' style="margin-top: 3em;">

                     <div class="subtitle" >
                        Others - {{filteredOtherItems?.length}}
                     </div>        
                     <div class="classrooms mt-2" >                                           
                        <a *ngFor="let system of filteredOtherItems"
                              (click)="onClickNewRoom(system.repository)"
                              class="classroom"
                              data-toggle="modal" data-target="#editRoom"
                              data-placement="bottom"
                              title="This is a classroom with a HDMI and a PC!">
                           <span class="classroom--text"> {{system.system_name}}</span>
                        </a>                        
                     </div>                     
                  </div>
            </div>
         </div>
      </div>
      </div>
      <!-- End select room modal -->
      <!-- Edit room modal -->
      <div class="modal" data-backdrop="static" data-keyboard="false" id="editRoom">
         <div class="modal-dialog modal-dialog-centered modal-xl width-90">
            <div class="modal-content custom-modal">
               <!-- Modal body -->
               <div class="modal-body">
                  <app-room (reloadEvent)="reloadRooms($event)" [selectedRoom]=selectedRoom></app-room>
               </div>
            </div>
         </div>
      </div>
      <div class="modal" data-backdrop="static" data-keyboard="false" id="editSystem">
         <div class="modal-dialog modal-dialog-centered modal-xl width-90">
            <div class="modal-content custom-modal">
               <!-- Modal body -->
               <div class="modal-body">                     
                  <app-system (reloadEvent)="reloadSystems($event)" [selectedSystem]=selectedSystem></app-system>
               </div>
            </div>
         </div>
      </div>
      <!-- End Edit room modal -->
      <div class="modal fade small-modal" id="deleteRoom" data-value="row">
         <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="delete-info">
                     <i class="fas fa-exclamation"></i>
                     <h2>Are you sure?</h2>
                     <p>
                        Room <strong>{{selectedRoom}}</strong> will be deleted.
                     </p>
                  </div>
                  <div class="d-sm-flex justify-content-between">
                     <button class="btn btn-warning" (click)="deleteRoom()">Yes</button>
                     <button class="btn btn-dark" data-dismiss="modal">Cancel</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade small-modal" id="deleteRoomAll" data-value="selectionR.selected">
         <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
               <div class="modal-body">
                  <div *ngIf="selectionR.hasValue() || isAllRoomSelected()">
                     <div class="delete-info">
                        <i class="fas fa-exclamation"></i>
                        <h2>Are you sure?</h2>
                        <p *ngFor="let syst of selectionR.selected" style="margin-top: 10px;">
                           Room <strong>{{syst.room_name}}</strong> will be deleted.
                        </p>
                     </div>
                     <div class="d-sm-flex justify-content-between">
                        <button class="btn btn-warning" (click)="deleteRoomAll(selectionR.selected, selectionR.selected)">Yes</button>
                        <button class="btn btn-dark" data-dismiss="modal">Cancel</button>
                     </div>
                  </div>
                  <div *ngIf="!(selectionR.hasValue() || isAllRoomSelected())">
                     <div class="delete-info">
                        <i class="fas fa-exclamation"></i>
                        <h5>Please select room(s) to delete.</h5>
                     </div>
                     <div class="d-sm-flex justify-content-center">
                        <button class="btn btn-dark" data-dismiss="modal">OK</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- load System from file -->
      <div class="modal fade small-modal" id="deleteSystem" data-value="selection.selected">
         <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="delete-info" *ngIf="isSystemDelete">
                     <i class="fas fa-exclamation"></i>
                     <h2>Are you sure?</h2>
                     <p>
                        System <strong>{{selectedSystem}}</strong> will be deleted.
                     </p>
                  </div>
                  <div class="delete-info" *ngIf="!isSystemDelete">
                     <i class="fas fa-exclamation"></i>
                     <h2>Error</h2>
                     <p style="margin-top: 10px;">
                           One or more of the selected systems have associated active rooms.<br>
                           Please delete these rooms before attempting to delete these systems.
                     </p>
                  </div>
                  <div class="d-sm-flex justify-content-between">
                     <button class="btn btn-warning" (click)="deleteSystem()" *ngIf="isSystemDelete">Yes</button>
                     <button class="btn btn-dark" data-dismiss="modal" *ngIf="isSystemDelete">Cancel</button>
                  </div>
                   <div class="d-sm-flex justify-content-center">
                     <button class="btn btn-dark" data-dismiss="modal" *ngIf="!isSystemDelete">OK</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade small-modal" id="deleteSystemAll" data-value="selection.selected">
         <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 30% !important;">
            <div class="modal-content">
               <div class="modal-body">
                  <div *ngIf="selection.hasValue() || isAllSystemSelected()">
                     <div class="delete-info" *ngIf="!checkedSystem">
                        <i class="fas fa-exclamation"></i>
                        <h2>Are you sure?</h2>
                        <p *ngFor="let sel of selection.selected" style="margin-top: 10px;">
                              System <strong>{{sel.system_name}}</strong> will be deleted.
                        </p>
                     </div>
                     <div class="delete-info" *ngIf="checkedSystem">
                        <i class="fas fa-exclamation"></i>
                        <h2>Error</h2>
                        <p style="margin-top: 10px;">
                           One or more of the selected systems have associated active rooms.<br>
                           Please delete these rooms before attempting to delete these systems.
                        </p>
                     </div>
                     <div class="d-sm-flex justify-content-between">
                        <button class="btn btn-warning" (click)="deleteSystemAll(selection.selected, selection.selected)" *ngIf="!checkedSystem">Yes</button>
                        <button class="btn btn-dark" data-dismiss="modal" *ngIf="!checkedSystem">Cancel</button>
                     </div>
                     <div class="d-sm-flex justify-content-center">
                        <button class="btn btn-warning" data-dismiss="modal" *ngIf="checkedSystem">OK</button>
                     </div>
                  </div>
                  <div *ngIf="!(selection.hasValue() || isAllSystemSelected())">
                     <div class="delete-info">
                        <i class="fas fa-exclamation"></i>
                        <h5>Please select system(s) to delete.</h5>
                     </div>
                     <div class="d-sm-flex justify-content-center">
                        <button class="btn btn-dark" data-dismiss="modal">OK</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="show-msg">Some text some message..</div>
   </body>
</html>