<div class="modal-header">
   <div class="modeal-head-wrap">
      <div *ngIf="operation=='edit'">
         <h4>Edit {{selectedRepo}}</h4>
         <span>Software Version:1.2.5.33</span>
      </div>
      <div *ngIf="operation!='edit'">
         <h4>New System</h4>
         <span>Software Version:1.2.5.33</span>
      </div>
      <div class="options" id="sysoptions" (click)=clickoptions()>
         <i class="fas fa-cog"></i> <span>Options</span>
         <i class="arrow fas fa-sort-down"></i>
         <div class="drop-down" id="sysdropdown" style="display: none;">
            <div class="arrow_box">
               <ul>
                  <li>
                     <a style="cursor: pointer;" (click)="onClickDownloadFile($event,systemData)">Download as JSON <i class="fas fa-download"></i
                        ></a>
                  </li>
                  <li *ngIf="operation=='edit'">
                     <a style="cursor: pointer;" (click)="duplicateConfig()">Duplicate System <i class="fas fa-copy"></i
                        ></a>
                  </li>
                  <li *ngIf="operation!='edit'">
                     <a
                     style="cursor: pointer;"
                        data-toggle="modal"
                        data-target="#uploadsystemFile"
                        (click)="onLoadSysFile()"
                        >Load System from file <i class="fas fa-cloud-upload-alt"></i
                        ></a>
                  </li>
                   <li *ngIf="operation=='edit'">
                     <a
                        style="cursor: pointer;"
                        data-toggle="modal"
                        data-target="#deleteEditSystem"
                        >Delete System <i class="fas fa-trash"></i
                        ></a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <button type="button" class="close" data-dismiss="modal" style="display:block !important;"  (click)="close()">
   <i class="far fa-times-circle"></i>
   </button>
</div>
<app-loader *ngIf="isLoading"></app-loader>
<div id="syssnackbar">{{isShowError}}</div>
<div class="container-fluid">
   <div class="container main-content">
      <div class="row wid-90">
          <div class="col-sm-3 for-sidenav-overflow">
            <div class="modal-menu menu-tree-wrap">
               <ul class="file-tree">
                  <li *ngFor="let heading of sideNavobj;let i=index;">
                     <a class="link-color m-head heading-{{i}}" id="{{i}}" style="cursor: pointer;"
                        (click)="onMenuItemClicked(heading,i)">{{heading.key}}</a>
                     <ul  *ngIf="heading.bottom=='y'" class="submenu">
                        <li class="pad-left-5px"  *ngFor="let subHeading of heading.items;let in = index">
                           <ng-container *ngIf="subHeading.key">
                              <a style="cursor: pointer;" class="link-color sub-heading-{{in}}" (click)="onBottomMenuItemClicked(heading,in)" >{{subHeading.key}}</a>
                           </ng-container>
                        </li>
                     </ul>
                  </li>
                   <li>
                     <a class="link-color m-head heading-{{keysLength}}" style="cursor: pointer;"
                        (click)="onMenuItemRoomSchema()">Room Schema</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-sm-2 for-overflow ids border-left" *ngIf="openNewSideDiv">
            <ul>
               <li class="sidenav-heading-{{k}}"  *ngFor="let childSubHeading of forSideNav.items; let k=index;">
                  <a class="for-child-heading" (click)="onSideMenuItemClicked(forSideNav,childSubHeading,k)">{{childSubHeading}}</a>
               </li>
            </ul>
         </div>  
      <div class="col-sm-7 for-overflow border-left" *ngIf="!showRoomSchema" [ngClass]="openNewSideDiv?'with-side-nav':'without-side-nav'">
            <div *ngIf="deployMsg!=undefined">
               <div  class="alert alert-danger deploy-css  alert-dismissible fade in">
                  <a  class="close" onclick="$('.deploy-css').hide()">&times;</a>
                  <p>{{deployMsg}} </p>
               </div>
            </div>
            <div *ngIf="showErrors">
               <div  class="alert alert-danger error-css">
                  <p *ngFor="let err of errorMsg;"><b style="color:red;font-weight: 400;">{{err.at}}</b> : <span class="errmsg" [innerHTML]="err.msg"></span> </p>
               </div>
            </div>
            <div *ngIf="visible.form" class="json-schema-form" [@expandSection]="true" >
            <div *ngIf="!formActive">{{jsonFormStatusMessage}}</div>
            <json-schema-form *ngIf="formActive" loadExternalAssets="true" [form]="jsonFormSchema"
            [options]="jsonFormOptions" [framework]="selectedFramework" [(ngModel)]="systemData"
            (onSubmit)="onSubmit($event)" (isValid)="isValid($event)"
            (validationErrors)="validationErrors($event)">
            </json-schema-form>
         </div>
      </div>
      <div class="col-sm-7 for-overflow border-left with-side-nav" *ngIf="showRoomSchema">
            <ul>
            <li *ngFor="let item of schemaKeysList;let i=index;">
               <mat-checkbox  [(ngModel)]="schemaKeyValue[item]" [disabled]="item=='Properties'"   [ngModelOptions]="{standalone: true}" >
                  {{item}}
               </mat-checkbox>
            </li>
            </ul>
         </div>
   </div>
</div>
</div>
<div id="divLoading" [ngClass]="{'show': loaderService.showLoader}"></div>
<div *ngIf="!showErrors">
   <div class="modal fade small-modal" id="mySystemModal" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-sm">
         <div class="modal-content">
            <div class="modal-body">
               <div class="delete-info">
                  <i class="fas fa-exclamation"></i><br>
                  <p>This will deploy the configuration to <b>{{deploySetName}}</b>, and automatically restart all rooms associated with <b>{{deploySetName}}.</b></p>
                  <p><b>Proceed?</b></p>
               </div>
               <div class="d-sm-flex justify-content-between">
                     <button class="btn btn-warning" (click)="deploy()" focus-element="autofocus">Yes</button>
                     <button class="btn btn-dark" focus-element="autofocus" (click)="closePopUp()">No</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal-buttons mt-4">
   <div><a class="btn btn-warning btn-space" style="cursor: pointer;" data-toggle="modal" data-target="#mySystemModal" (click)="onSave('deploy')" >Deploy</a></div>
   <div><a class="btn btn-grey" style="cursor: pointer;" (click)="revertChanges()">Revert Changes</a></div>
   <div><a class="btn btn-primary" style="cursor: pointer;" (click)="onSave('save')" >Save</a></div>
</div>
<div class="modal fade uploadfileModal" id="uploadsystemFile">
   <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
         <div class="modal-body">
             <button type="button" class="close" onclick="$('#uploadsystemFile').modal('hide')" aria-hidden="true">&times;</button>
            <div class="upload-files">
               <h2>Load System from files</h2>
               <div class="upload-file">
                  <ngx-dropzone (change)="onSelect($event)">
                     <ngx-dropzone-label>
                        <div id="upload-label" style="width: 200px;">
                           <h3>Drag file</h3>
                           <span>or</span>
                           <a style="cursor: pointer;" class="btn btn-blue"
                              >Select file from your computer</a
                              >
                        </div>
                     </ngx-dropzone-label>
                     <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                     <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                     </ngx-dropzone-preview>
                  </ngx-dropzone>
                  <!-- Preview collection of uploaded documents -->
                  <div class="preview-container">
                     <div class="collection card" id="previews">
                        <div
                           class="collection-item clearhack valign-wrapper item-template"
                           id="zdrop-template"
                           >
                           <div class="left pv zdrop-info" data-dz-thumbnail>
                              <div>
                                 <span data-dz-name></span> <span data-dz-size></span>
                              </div>
                              <div class="progress">
                                 <div
                                    class="determinate"
                                    style="width:0"
                                    data-dz-uploadprogress
                                    ></div>
                              </div>
                              <div class="dz-error-message">
                                 <span data-dz-errormessage></span>
                              </div>
                           </div>
                           <div class="secondary-content actions">
                              <a
                                 href="#!"
                                 data-dz-remove
                                 class="btn-floating ph red white-text waves-effect waves-light"
                                 ><i class="material-icons white-text">clear</i></a
                                 >
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="d-sm-flex justify-content-center">
               <button (click)="uploadFile($event,jsonFormSchema)" class="btn btn-primary">Load System</button>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal fade small-modal" id="deleteEditSystem" data-value="selectedSystem">
   <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
         <div class="modal-body">
            <div class="delete-info">
               <i class="fas fa-exclamation"></i>
               <h2>Are you sure?</h2>
               <p>
                  System <strong>{{selectedRepo}}</strong> will be deleted.
               </p>
            </div>
            <div class="d-sm-flex justify-content-between">
               <button class="btn btn-warning" (click)="deleteSystem(selectedSystem, selectedSystem)" data-dismiss="modal">Yes</button>
               <button class="btn btn-dark" (click)="deletePopUp()">Cancel</button>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal fade small-modal" id="roomSchemaWarn">
   <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
         <div class="modal-body">
            <div class="delete-info">
               <i class="fas fa-exclamation"></i>
               <h2>Warning!</h2>
               <p>
                 At least 'Properties' should be selected for "Room Schema".
               </p>
            </div>
         </div>
            <div class="modal-footer justify-content-center">
               <button type="button" class="btn btn-dark" focus-element="autofocus" onclick="$('#roomSchemaWarn').modal('hide')">OK</button>
            </div>
         
      </div>
   </div>
</div>
<div class="modal fade" id="formErrors">
   <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
       <div class="modal-header">
                <button type="button" class="close" onclick="$('#formErrors').modal('hide')" aria-hidden="true">&times;</button>
            </div>
         <div class="modal-body">
            <div class="delete-info" >
               <i class="fas fa-exclamation"></i>
               <h2>Errors!</h2>
               <div *ngIf="showErrors" style=" max-height: 400px; overflow: auto; text-align: left; padding-left: 75px;">
                  <p *ngFor="let err of errorMsg;"><b style="color:red;font-weight: 400;">{{err.at}}</b> :<span class="errmsg" [innerHTML]="err.msg"></span> </p>
               </div>
            </div>
            <div class="d-sm-flex justify-content-center">
                  <button type="button" class="btn btn-dark" focus-element="autofocus" onclick="$('#formErrors').modal('hide')">OK</button>
            </div>
         </div>
      </div>
   </div>
</div>